<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpcat237.nps"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.dpcat237.nps.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.dpcat237.nps.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="fullUser"
        >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/label_st"
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:label="@string/label_signup"
            android:name=".ui.activity.SignUpActivity"
            android:parentActivityName=".ui.activity.WelcomeActivity" >
        </activity>
        <activity
            android:label="@string/label_signin"
            android:name=".ui.activity.SignInActivity"
            android:parentActivityName=".ui.activity.WelcomeActivity" >
        </activity>
        <activity
            android:label="@string/label_recovery_password"
            android:name=".ui.activity.RecoverPasswordActivity"
            android:parentActivityName=".ui.activity.SignInActivity" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:parentActivityName=".ui.activity.WelcomeActivity" >
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:label="@string/label_add_feed"
            android:name=".ui.activity.AddFeedActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:label="@string/label_labels_list"
            android:name=".ui.activity.LabelsActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:label="@string/label_labels_create"
            android:name=".ui.activity.CreateLabelActivity"
            android:parentActivityName=".ui.activity.LabelsActivity" >
        </activity>
        <activity
            android:name=".ui.activity.ItemsActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:name=".ui.activity.LaterItemsActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:label="@string/activity_articles"
            android:name=".ui.activity.ItemActivity"
            android:parentActivityName=".ui.activity.ItemsActivity" >
        </activity>
        <activity
            android:label="@string/activity_articles"
            android:name=".ui.activity.LaterItemActivity"
            android:parentActivityName=".ui.activity.LaterItemsActivity" >
        </activity>
        <activity
            android:name=".ui.activity.DictateItemActivity"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_label"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:name=".ui.activity.ManualActivity"
            android:label="@string/action_manual"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:name=".ui.activity.PlayerActivity"
            android:label="@string/about_label"
            android:parentActivityName=".ui.activity.MainActivity" >
        </activity>
        <activity
            android:name=".ui.dialog.SharedDialog"
            android:theme="@style/Theme.FloatingWindow.Popup" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dialog.PlayerLabelsDialog"
            android:theme="@style/Theme.FloatingWindow.Popup" >
        </activity>

        <receiver
            android:name=".behavior.receiver.LockscreenReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name=".behavior.alarm.AlarmsControlAlarm" />
        <receiver android:name=".behavior.alarm.RemoveOldAlarm" />
        <receiver android:name=".behavior.alarm.SyncDictationsAlarm" />
        <receiver android:name=".behavior.alarm.SyncLaterAlarm" />
        <receiver android:name=".behavior.alarm.SyncNewsAlarm" />
        <receiver android:name=".behavior.receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".behavior.receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.dpcat237.nps" />
            </intent-filter>ook_
        </receiver>
        <receiver
            android:name=".ui.widget.PlayerWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/widget_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".behavior.service.CreateSongsService" />
        <service android:name=".behavior.service.DownloadSongsService" />
        <service android:name=".behavior.service.GcmIntentService" />
        <service android:name=".behavior.service.PlayerService" />
        <service android:name=".behavior.service.SyncDictationItemsService" />
        <service android:name=".behavior.service.SyncLaterService" />
        <service android:name=".behavior.service.SyncNewsService" />
        <service
            android:name=".behavior.service.MessageListenerService"
            android:enabled="true" android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>
</manifest>